<footer class="footer">
    <div class="footer-con">
      <a  href="http://w3cay.com/me" alt="关于我" title="关于我" target="_blank">
        <div class="me">
            <i class="myicon"><img  src="__PUBLIC__/Home/IMG/myicon.png" alt="关于我" title="关于我" width="60"  height="60" /> </i>
            <div class="mylink"></div>
            <span class="mymoto"></span>
            </a>
        </div>
        <div class="footer-left">
            <div id="line"></div>

            <span class="useread" >
            Powered by <a href="http://www.thinkphp.cn"  rel="nofollow" target="_blank">ThinkPHP</a>
            &nbsp
            Host by
            <a href="http://www.zzidc.com"  rel="nofollow" target="_blank">景安网络</a>
            </span>
            <span class="copyright">
        <a  href="http://w3cay.com" target="_blank">&copy; 安望云海|W3CAY</a> 
        <a  href="http://www.miitbeian.gov.cn/" rel="nofollow"> &nbsp豫ICP备15003362号&nbsp</a>
            <script type="text/javascript">
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254403531'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254403531' type='text/javascript'%3E%3C/script%3E"));
            </script>
            </span>
        </div>
    </div>
<!--       <div class="totop"></div>-->
 </footer>
</body>
<script type="text/javascript">
    $(function () {
        $("#cnzz_stat_icon_1254403531 a").text('');
    });
</script>
</html>