<footer class="footer">
    <div class="footer-con">
        <span class="copyright">
        <a  href="http://w3cay.com" target="_blank">&copy; 安望云海|W3CAY</a>
        <a  href="http://www.miitbeian.gov.cn/" rel="nofollow"> &nbsp豫ICP备15003362&nbsp</a>
        </span>
    </div>
</footer>
</body>
<!--[if lt IE 9]>
<script src="__PUBLIC__/Jquery/jquery-1.11.2.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Jquery/jquery-2.1.4.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/Home/JS/html5shiv.min.js"></script>
<script type="text/javascript">
//导航下拉效果
$(function(){
$(".nav-btn").click(function(){
    $(".nav").fadeToggle("1000");
    $(".btn").toggleClass("onbtn");
});
});
</script>
<div style="display:none">
<a href="http://www.zzidc.com">  title="景安网络" /></a>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?c45eb0f0bbd3349f5c85f1afc603bb1f";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
	<a href="http://www.zzidc.com">  title="景安网络" /></a>
	// <script>
	// var _hmt = _hmt || [];
	// (function() {
	//   var hm = document.createElement("script");
	//   hm.src = "//hm.baidu.com/hm.js?c45eb0f0bbd3349f5c85f1afc603bb1f";
	//   var s = document.getElementsByTagName("script")[0]; 
	//   s.parentNode.insertBefore(hm, s);
	// })();
	// </script>
</div>
