<footer class="footer">
    <div class="footer-con">
         <span class="copyright">
           <a  href="http://w3cay.com" target="_blank">&copy; 安望云海|W3CAY</a>
           <a  href="http://www.miitbeian.gov.cn/" rel="nofollow"> &nbsp豫ICP备15003362&nbsp</a>
            </span>
    </div>
</footer>
</body>
<div style="display:none">
   <a href="http://www.zzidc.com"> alt="景安网络" title="景安网络" /></a>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254403531'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254403531' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</html>