
<!--   导航栏样式表 -->
  <link rel="stylesheet" href="__PUBLIC__/Home/CSS/layout.css"/>

<!--[if lt IE 9]>
<script src="__PUBLIC__/Jquery/jquery-1.11.2.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/Jquery/jquery-2.1.3.js"></script>
<!--<![endif]-->
<script type="text/javascript">
//导航下拉效果
 $(function(){
$(".btn").click(function(){
    $(".nav").slideToggle("slow");
});
});
</script>
  </head>
  <body>
<!-- 导航部分 -->
<header>
 <a href="http://w3cay.com" class="title">
   <i class="logo"><img src="__PUBLIC__/Home/IMG/logo.png" width="45px" height="45px"></i>
   <i class="name"></i>
     <i class="beta"></i>
 </a><button class="btn" ></button><nav class='nav'>
    <ul>
      <li ><a href="http://localhost/W3CAY/">首页</a></li>
    <foreach name='cate' item='v' >
          <li ><a href="__ROOT__/topic/{$v.c_value}">{$v.c_name}</a></li>
    </foreach>
      <li ><a href="__ROOT__/me" target="_blank">关于我</a></li>
        <li>
          <form class="search" role="search"> 
          <input type="text" class="search-input" placeholder="Search">
          </form>
        </li>
   </ul></nav>
 </header>

