<link rel="alternate icon" type="image/ico" href="__PUBLIC__/Home/IMG/favicon.ico">
        <link rel="stylesheet" href="__PUBLIC__/Home/CSS/layout.css"/>
    </head>
<body>
    <header>
    <a href="__ROOT__" class="title">
    <i class="logo"></i>
    <i class="name"></i>
    </a>
    <div class="nav-btn">
      <ul class="btn">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <nav class='nav'>
        <ul>
            <li ><a href="__ROOT__">首页</a></li>
            <foreach name='cate' item='v' >
            <li ><a href="__ROOT__/topic/{$v.c_value}">{$v.c_name}</a></li>
            </foreach>
            <li ><a href="__ROOT__/me" >关于</a></li>
        </ul></nav>
    </header>