<!DOCTYPE html>
<html>
    <head>
        <title>管理登录界面</title>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/CSS/index.css">
    </head>
    <body>
        <!-- <div class="admin">Admin</div> -->
        <div  class="box">


            <form class="from" action='__CONTROLLER__/login'  method='post'>
                <span >用户名：<input class="inpt" type="text" name="a_name" style="border:1px solid #9595ec;" ></br></span>
                <span>密　码：<input class="inpt" type="password" name="a_pwd"  style="border:1px solid #9595ec;" ></br></span>
                <span>验证码：<input class="inpt"type="text" name="code" style="width:80px;border:1px solid #9595ec; "><img id="code" src="__MODULE__/Public/code" onclick='this.src=this.src+"?"+Math.random;' ></span>
                <input class="bm"  type="submit"  value="点击登录"  >
            </form>
        </div>
    </body>
</html>