*{
	margin:0;
	padding: 0;
	font-family:"Microsoft YaHei",
	"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}
body{
	height: 100%;
}
ul,li,a{
	text-decoration: none;
	list-style: none;
}

header{
	width:100% ;
	height: 60px;
	background: #000;
	position: absolute;
	margin: auto;
}
.contain{
	width: 1370px;
	margin: auto;
}
.admin_icon{
	background:url('../IMG/admin_icon.png') no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px; 
	position: relative;
	top:4px;
	right: 10px;	
	display: inline-block;
}
.title{
	width:200px;
	text-align: right;
	font-size: 24px;
	line-height: 60px;
	color:#fff;
	margin-left: 30px;
	font-weight: 200;

}

.logout{
	color: #fff;
	float: right;
	display: inline-block;
	line-height: 60px;
	font-size: 20px;
	margin-right: 30px;
	font-weight: 200;

}
.logout-icon{
	background:url('../IMG/logout.png') no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px; 
	display: inline-block;
	float: right;
	position: relative;
	top: 15px;
	left: 5px;
}
.nav{
	border: 1px solid #C3C3C3;
	float: left;
	width: 200px;
	height:568px;
	background:#f0f0f0;
	position: absolute;
	top:60px;
}

.menu li {
	display: inline-block;
	text-align: center;	
	width: 200px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #C9C9C9;
	border-top: 1px solid #fcfcfc;

}
.aclick{
	font-weight: bold;
}
.menu li a{
	color: #373737; 
	display: inline-block;
	width: 180px;
}

.menu > li:hover{
	box-shadow:0 0 20px #DDD; 
}

.hid-ul {
	display: none;
	border-top:1px solid #C9C9C9;;
	background: #fff;
	position: relative;
	top: 10px;
	box-shadow: inset 0px -3px 10px #888888;

}


.content{
	width:1160px;
	height: 568px;
	float:left;
	border:1px solid #C9C9C9;
	position:relative;
	top:60px;
	left: 200px;

	}
