* {
    margin: 0;
    padding: 0;
}
body {
    background:#1262B7;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    margin: auto;
    font-family: '微软雅黑';
}
.box {
    width: 400px;
    height: 240px;
    margin: 30px auto 0px;
    background: #fff;
    padding-top: 40px;
    background: transparent;
    color: #fff;
    background-color:#57D8E6;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #35393C;
}
.admin
{
    display: inline-block;
    text-align: center;
    padding-top: 150px;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 30px;
    font-weight:100;

}

.from {
    width: 300px;
    height: 200px;
    margin: 20px auto;
}
.inpt {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #fff;
}
.bm {
    cursor: pointer;
    font-family: '微软雅黑';
    width: 180px;
    height: 30px;
    display: block;
    margin: 30px auto;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    transition: border-radius 0.8s, width 0.8s;
    outline: none;
}
.bm:hover {
    border-radius: 10px;
    width: 220px;
}
.box span {
    display: block;
    margin-top: 20px;
}
#adminpic {
    width: 25px;
    height: 25px;
    position: relative;
    right: 15px;
    top: 5px;
}
#code {
    position: relative;
    top:10px;
    left: 8px;
    border-radius: 5px;
}