/*公共样式*/
*{
	margin:0;
	padding: 0;
	font-family:"Microsoft YaHei",
	"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.table{
	border: 1px solid #C3C3C3;
	margin:20px auto;
	border-spacing: 0;
    border-collapse: collapse;
    width: 95%;

}
tbody > tr:first-child{

	border-bottom: 4px solid #DDDDDD;
}
tbody > tr:first-child:hover{background:#fff;}
th{
	height: 50px;
}
tr{
	
	border: 1px solid #C3C3C3;
}
tr:hover{
	background:#EBFBFC;
}
td{

   padding: 8px 0px;
   border: 1px solid #C3C3C3;
   text-align: center;
}

input{
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	outline: none;
	padding-left: 3px;
}
.btn{
	cursor: pointer;
	display: inline-block;
	width: 80px;
	height: 30px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	text-decoration: none;
	color: #000;
	line-height: 30px;
	padding-left: 0px;
	border-radius: 5px;
	font-size: 14px;
}
.btn:hover{
	background: #F0E3E8;
}

/*分页样式*/
.paging{
	display: inline-block;
	text-align: center;
}
.paging>div{
	display:inline-block;
	text-align: center;
}
.current{
	  border: 1px solid #00DDDD;
	  display: inline-block;
	  text-align: center;
	  height: 35px;
	  width: 40px;
	  line-height: 35px;
	  margin-right: 5px;
	  border-radius: 8px;
	  background: #D0D0D0;
}
.prev,.next{
	border: 1px solid #00DDDD;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	 height: 35px;
	  width: 40px;
	   line-height: 35px;
	   text-align: center;
	color: #000;
	 border-radius: 8px;
}
.prev:hover{
	background: #00F4F4;
}
.next:hover{
	background: #00F4F4;
}
.num{
	  border: 1px solid #00DDDD;
	  border-radius: 8px;
	  text-decoration: none;
	  color: #000;
	  display: inline-block;
	  line-height: 35px;
	  text-align: center;
	  height: 35px;
	  width:40px;
	  margin-right: 5px;
}
.num:hover{
	background: #00F4F4;
}

