.am-topbar{min-height: 70px;margin-bottom: 0;z-index: 100;}
.name{width:160px;height:50px;display: block;  background:url(../IMG/name.png ) 
	 no-repeat;float: right;background-size: 150px 45px;margin-top: 6px;}
.ename{width:160px;height:50px;display: block;  background:url(../IMG/e_name.png ) 
	 no-repeat;float: right;background-size: 150px 40px;margin-top: 10px;}
.am-topbar-btn{margin-top: 18px;}
.am-topbar-inverse{background-color:#000}
/*.am-topbar-nav>li.am-active>a:after{border-bottom-color: #0e90d2;opacity: 0;}
.am-topbar-nav>li>a:after {border-bottom-color: #0e90d2;opacity: 0;}*/
.am-topbar-brand{margin-top:8px;}
#doc-topbar-collapse{margin-top:10px;}
#doc-topbar-collapse a {font-size: 18px;font-weight: bold;}
.am-nav a{margin-right:20px; }