<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>安望云海</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <link rel="alternate icon" type="image/ico" href="__PUBLIC__/Home/IMG/favicon.ico">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/CSS/aboutme.css">
        <link href='http://www.youziku.com/webfont/CSS/47b87bdc85f52ae0f8a2b2868633284e' rel='stylesheet' type='text/css'/>
        <!--   导航栏样式表 -->
        <link rel="stylesheet" href="__PUBLIC__/Home/CSS/layout.css"/>
        <!--[if lt IE 9]>
        <script src="__PUBLIC__/Jquery/jquery-1.11.2.js"></script>
        <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!-->
        <script src="__PUBLIC__/Jquery/jquery-2.1.3.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="__PUBLIC__/Home/JS/jquery.scrollify.min.js"></script>
        <script type="text/javascript">
            $(function() {
            $('section').css({'height': $(window).height()});
            $.scrollify({
                section: 'section'
            });
            });
        </script>

    </head>
    <body >
     <div class="container">
     <section class="first ">
     
     <img class="first-sec-bg blur " src="__PUBLIC__/Home/IMG/sitebg.png">
    
    <!--  <nav>
     <ul class="nav-list">
         <li><a href="#">一</a></li>
         <li><a href="#page2">二</a></li>
         <li><a href="#page3">三</a></li>
         <li><a href="#page4">四</a></li>
         <li><a href="#page5">五</a></li>

     </ul>
     </nav> -->

     <div class="icon-me"><img src="__PUBLIC__/Home/IMG/myicon.png"> </div>
     <div class="first-name css47b87bdc85f52ae0f8a2b2868633284e">安望云海</div>

     </section>
     <section class="second" id="page2">页面2</section>
     <section class="third" id="page3">页面3</section>
     <section class="forth" id="page4">页面4</section>
     <section class="fifty" id="page5">
        
      
    <include file="Public:footer"/>
     </section>
     </div>
</body>






   
