<include file="Public:header"/>
 <script src="__PUBLIC__/Highlighter/shCore.js" type="text/javascript"></script>
<link href="__PUBLIC__/Highlighter/shCoreDefault.css"rel="stylesheet" type="text/css" >
    <script type="text/javascript" language="javascript">
        $(function(){
            SyntaxHighlighter.all();
        });
    </script>
<css href="__PUBLIC__/Home/CSS/article.css"/>
<script type="text/javascript">
	SyntaxHighlighter.all();
</script>
<div class="article-container">
	<div class="article">	
	<div  class="article-title"><h4>{$article.a_title}</h4></div>
	<div class="article-detail">{$article.a_content|stripslashes}</div>
	</div>

</div>
<include file="Public:footer"/>