<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{$article.a_title} - {$article.c_name} - 安望云海</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/ico" href="__PUBLIC__/Home/IMG/favicon.ico">
  <css href="__PUBLIC__/Home/CSS/article.css"/>
  <css href="__PUBLIC__/editor/markdown.css"/>
  <js src="__PUBLIC__/editor/docs/marked.js"/>

  </head>
<include file="Public:header"/>
<div class="article-container">
	<div class="article">	
	<div  class="article-title"><h1>{$article.a_title}</h1></div>
  <div class="article-attr">
   <span> <i id="time" class="attr-icon"></i>发布于 {$article.a_time}</span>
   <span><i id="read" class="attr-icon"></i>{$article.a_clicks}次阅读</span>
  </div>
	<div class="article-detail markdown ">{$article.a_content} </div>

  <div id="SOHUCS" sid="{$article.a_id}" ></div>
	</div>
</div>
<include file="Public:footer"/>
<script src="__PUBLIC__/Home/JS/comment.js"></script>

