<include file="Public:header"/>
<!--   首页样式表 -->
<link rel="stylesheet" href="__PUBLIC__/Home/CSS/home.css"/>



<!-- Banner部分 -->
<div class="ban">
    <div class="ban-con">
        <div class="ban-pic"></div>
        <div class="ban-slogan" >
            <h2>{ 致力于HTML/CSS/JS/WEB开发 }</h2>
            <p>
            不愿成为知识的过客，记录和分享我的WEB开发经验与技巧，发挥共享的力量，只为创造出激动人心的网页！
            </p>
        </div>
    </div>
</div>
<!-- 内容部分 -->
<div class="content">
    <div class="tab">
        <a id="last" class="tab-box on" href="#">最新</a>
        <a id="hot" class="tab-box off" href="#">最热</a>
    </div>
    <!--   最新 -->
    <div class="lastlist">
     <!--    <foreach name='last' item='v'>
        <div class="alist"  >
            <div class="alist-icon" style="background: url('__PUBLIC__/Home/IMG/{$v.c_value}.png') no-repeat;background-size:100px 100px;"></div>
            <div class="alist-con">
                <div  class="alist-title">
                    <a href="__ROOT__/article/{$v.a_id}.html">

                    <span>[{$v.a_time}]</span>
                    <h3 >{$v.a_title}</h3>
                </a></div>
                <a href="__ROOT__/article/{$v.a_id}.html"><div class="alist-digest">{$v.a_content|msubstr=###,0,200,'utf-8'}</div></a>
            </div>
        </div>
        </foreach> -->
   <div class="last"> 
    <div id="more">
      <div class="single_item">
      <div class="alist-icon" style="background: url('__PUBLIC__/Home/IMG/{$v.c_value}.png') no-repeat;background-size:100px 100px;"></div>
      <div class="alist-con" >
      <span>
         <div class="a_time"> </div>
         <div class="a_title"></div>
      </span>
        
         <div class="a_content"></div>
      </div>
        </div>
       <a href="javascript:;" class="get_more">::点击加载更多内容::</a>
  </div> 
 </div>
</div>

    <!-- 最热 -->
    <div class="hotlist">
        <div id="more">
      <div class="single_item">
      <div class="alist-icon" style="background: url('__PUBLIC__/Home/IMG/{$v.c_value}.png') no-repeat;background-size:100px 100px;"></div>
      <div class="alist-con" >
      <span>
         <div class="a_time"> </div>
         <div class="a_title"></div>
      </span>
        
         <div class="a_content"></div>
      </div>
        </div>
       <a href="javascript:;" class="get_more">::点击加载更多内容::</a>
  </div> 

    </div>
</div>
<include file="Public:footer"/>
<script type="text/javascript">

    $("#hot").click(function(){
     $(this).removeClass("off").addClass("on").css("background","#C5F0A8");
     $("#last").removeClass("on").addClass("off");
     $(".lastlist").css("display","none");
     $(".hotlist").css("display","block");
     $(".content").css("background","#C5F0A8");
    $(".ban").css("background","#E3BE66");
    });

    $("#last").click(function(){
     $(this).removeClass("off").addClass("on");
     $("#hot").removeClass("on").addClass("off").css("background","#F3F3F3");;
      $(".hotlist").css("display","none");
     $(".lastlist").css("display","block");
     $(".content").css("background","#CDE2F8");
    $(".ban").css("background","#C7C7F3");
    });


   $(function(){
    $('#more').more({'address': '__URL__/returnlist'})
  });

</script>