<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>安望云海-致力于HTML/CSS/JS/前端开发</title>
        <meta name="Keywords" content="前端开发,html,css,js" />
        <meta name="Description" content="不愿成为知识的过客，记录和分享前端开发学习中的点点滴滴；用编程与艺术的完美结合，创造我心中的互联网世界！"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <link rel="alternate icon" type="image/ico" href="__PUBLIC__/Home/IMG/favicon.ico">
    </head>
    <include file="Public:header"/>
    <!--   首页样式表 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/CSS/home.css"/>
    <!-- Banner部分 -->
    <div class="ban">
        <div class="ban-con">
            <div class="ban-pic"></div>
            <div class="ban-slogan" >
                <h2>{ 致力于HTML/CSS/JS/前端开发 }</h2>
                <p>
                不愿成为知识的过客，记录和分享前端开发学习中的点点滴滴；用编程与艺术的完美结合，创造我心中的互联网世界！
                </p>
            </div>
        </div>
    </div>
    <!-- 内容部分 -->
    <div class="content">
        <div class="tab">
            <a id="last" class="tab-box on" href="javascript:void(0)" >最新</a>
            <a id="hot" class="tab-box off" href="javascript:void(0)" >最热</a>
        </div>
        <!--   最新 -->
        <div class="lastlist">
            <foreach name='last' item='v'>
            <div class="alist"  >
                <div class="alist-icon" >
                   <a href="__ROOT__/topic/{$v.c_value}"> <img src="__PUBLIC__/Home/IMG/{$v.c_value}.png"></a>
                </div>
                <div class="alist-con">
                    <div  class="alist-title">
                         <a href="__ROOT__/article/{$v.a_id}.html">
                        <span>[{$v.a_time}]</span>
                        <h3 >{$v.a_title}</h3>
                    </a></div>
                    <a href="__ROOT__/article/{$v.a_id}.html"><div class="alist-digest">{$v.a_content|msubstr=###,0,135,'utf-8'}</div></a>
                </div>
            </div>
            </foreach>
        </div>
        <!-- 最热 -->

        <div class="hotlist">
            <foreach name='hot' item='v'>
            <div class="alist">
                 <div class="alist-icon" >
                   <a href="__ROOT__/topic/{$v.c_value}"> <img src="__PUBLIC__/Home/IMG/{$v.c_value}.png"></a>
                </div>
                <div class="alist-con" >
                     <div  class="alist-title">
                         <a href="__ROOT__/article/{$v.a_id}.html">
                        <span>[{$v.a_time}]</span>
                        <h3 >{$v.a_title}</h3>
                    </a></div>
                    <a href="__ROOT__/article/{$v.a_id}.html"><div class="alist-digest">{$v.a_content|msubstr=###,0,135,'utf-8'}</div></a>
                </div>
            </div>
            </foreach>
        </div>
        <div class="lastShow next-show">
            <span class="more-icon "></span>
        </div>
        <div class="hotShow next-show">            
            <span class="more-icon"></span>
        </div>
       
    </div>


<ul class="show">  </ul>
<include file="Public:footer"/>

<script type="text/javascript">
    //简要渐入效果
    $(function(){

    $(".ban-pic").animate(
        {left:'0px',opacity:'1'},600);
    });
    $('.ban-slogan').fadeIn(2000);

    $("#hot").click(function(){
    $(this).removeClass("off").addClass("on");
    $("#last").removeClass("on").addClass("off");
    $(".lastlist").css("display","none");
    $(".hotlist").css("display","block");

    $(".lastShow").css("display","none");
    $(".hotShow").css("display","block");
    });

    $("#last").click(function(){
    $(this).removeClass("off").addClass("on");
    $("#hot").removeClass("on").addClass("off");
    $(".hotlist").css("display","none");
    $(".lastlist").css("display","block");

    $(".lastShow").css("display","block");
    $(".hotShow").css("display","none");
    });
$(function(){
        var lastnum=0;
        var hotnum=0;
        function ajaxshow(start,list,show){
         $.ajax({
                    type:'get',
                    cache:false,
                    data:num,
                    url: "__URL__/return_list/?c_value={$c_value}",
                    success: function(msg){
                     list.append(msg);},
                    beforeSend: function(){
                    show.addClass("onload");
                    },
                    complete: function(){
                     show.removeClass("onload");

                    },
                });
        }
        $(".lastShow").bind("click",function(){
               lastnum+=10;
               num='firstnum='+lastnum;
               var list=$(".lastlist");
               var show = $(".lastShow span");
               ajaxshow(lastnum,list,show) ;
         });
            $(".hotShow").bind("click",function(){
               hotnum+=10;
               num='hotnum='+hotnum;
               var list=$(".hotlist");
               var show = $(".hotShow span");
               ajaxshow(hotnum,list,show) ;
          });
});

</script>