<include file="Public:header"/>
<css href="__PUBLIC__/Home/CSS/theme.css"/>
<div class="topic-container">
	<foreach name='article' item='v'>
	<div class="alist">	
	<div  class="alist-title"><a href="__ROOT__/article/{$v.a_id}.html">
	<span class="time">[{$v.a_time}]</span>	<h3>{$v.a_title}</h3></a></div>
	<a href="__ROOT__/article/{$v.a_id}.html"><div class="alist-digest">{$v.a_content|msubstr=###,0,180,'utf-8'}</div></a>
	<div class="alsit-attr">
	
	</div>
	</div>
	</foreach>
	
	
</div>
<include file="Public:footer"/>