<css href="__PUBLIC__/editor/vendor/icomoon/editor.css" />
<script src="__PUBLIC__/editor/docs/marked.js"></script>
<script src="__PUBLIC__/editor/src/editor.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/CSS/article.css">
<form action="{:U('Admin/Article/submit')}" method="post">
 <div class="editor-wrapper">
      <select name="c_id">
      <foreach name="cate" item="v">
      <option value="{$v.c_id}">{$v.c_name}</option>
      </foreach>
      </select>
      <input class="title" name="a_title" type="text" placeholder="Title" />
      <textarea id="editor" name="a_content" placeholder="Content here ...."></textarea>
    </div>
<input class="subtn" type="submit" value="发布" />
</form>
</body>
<script type="text/javascript">
        var editor = new Editor();
          editor.render(); 
    </script>
</html>