/*关于我主页样式*/
*{
	padding: 0px;
}
body{
	width: 100%;
	overflow-x: hidden;
	 background:#f0f0f0;
}
.container{
	width: 100%;
	padding-top:60px;
	background: url('../IMG/mebg.jpg') fixed;
	top:0px;
	left: 0px;
	  min-height:650px;
}
section{
	width: 50%;
	margin: auto;
	position: relative;
}

#cneter-box{
	text-align: center;
	width: 980px;
	position: relative;
	top:50%;
	left: 50%;
	-webkit-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
#cneter-box>img{
	cursor: pointer;
	border-radius: 50%;
}
#cneter-box>img:hover{
    box-shadow: 0px 0px 20px #A08C8C;
}
#intro{
	text-align: left;
	width: 300px;
	height: 0px;
	overflow: hidden;
	margin: 10px auto;
	background: #fff;
	border-radius: 5px;
	font-size: 15px;
	opacity: 0.9;
}
#comment{
	background-color: #fff;
	padding:0px 30px;
}
#findme{
	list-style-type: none;
	overflow: hidden;
	zoom:1;
	text-align: center;
	width: 260px;
	margin:20px auto;
}
#findme >li{
	float: left;
	margin-left: 20px;
	display: inline-block;
	background: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50%;


}
#findme >li >a> svg{
	position: relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);

}

#findme >li:first-of-type{
		margin-left: 0px;
}
#findme >li:nth-child(1){
	background: #EF9292;
}
#findme >li:nth-child(2){
	background: #4FB4EC;
}
#findme >li:nth-child(3){
	background: #fff;
}
#findme >li:nth-child(4){
	background: #43E453;
}

.shadow{
	box-shadow: 10px 10px 10px #9C8686;
}

 @media screen and (max-width: 685px) {
	#SOHUCS{
	width: 95%  !important;
	}
	section{
	width: 100%;
	/*min-width: 300px;*/
}
	#intro{
		width: 285px;
	}
	#comment{
	padding:0px;
}
 }

 .service-wrap-w {
        display:none;
    }
    .head-img-w img {
        border-radius: 50%;
    }
    #SOHUCS #SOHU_MAIN .section-list-w .block-cont-gw .cont-head-gw .head-img-gw{
        border-radius: 50%;
        padding: 0px;
        /*-webkit-transform:rotate(90deg);*/
    }
    .clear-g:hover .head-img-gw{
        -webkit-transform:rotate(360deg);
        -webkit-transition:-webkit-transform 0.5s;
    }
    #SOHUCS #SOHU_MAIN .section-list-w .block-cont-gw .msg-wrap-gw {
        padding: 0px 0 0 62px;
    }
#SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .wrap-name-w , #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .wrap-join-w, #SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w .join-strong-gw {
        display:none;
    }
#SOHUCS #SOHU_MAIN .section-title-w .join-wrap-w strong.wrap-name-b{
        display:none !important;
    }
#SOHUCS #SOHU_MAIN .section-list-w .block-cont-gw .cont-head-gw .head-img-gw {
     padding: 0px !important ; 
 }


