/*关于我主页样式*/
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 500;

}
section{

	width: 100%;
	height: 100%;
	position: relative;

}
.first{


}


.first-sec-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -99;

}



.icon-me > img{

	width: 150px;
	height: 150px;
	border-radius: 150px;
	box-shadow: 5px 5px 10px #A79292;
	position: absolute;
	left: 44.5%;
	top:20%;
	animation:onhover 3s infinite;
    -moz-animation:onhover 3s infinite; 
    -webkit-animation:onhover 3s infinite; 
    -o-animation:onhover 3s infinite;
}

@keyframes onhover
{
0% {box-shadow: 5px 5px 100px #A79292; }
50% {
		box-shadow: 5px 5px 10px #7D7474;
		width: 145px;
		height: 145px;
		border-radius: 145px;
	}
100% {box-shadow:5px 5px 100px #A79292;}
}

@-moz-keyframes onhover /* Firefox */
{
0% {box-shadow: 5px 5px 100px #A79292; }
50% {
		box-shadow: 5px 5px 10px #7D7474;
		width: 145px;
		height: 145px;
		border-radius: 145px;
	}
100% {box-shadow:5px 5px 100px #A79292;}
}

@-webkit-keyframes onhover /* Safari and Chrome */
{
0% {box-shadow: 5px 5px 100px #A79292; }
50% {
		box-shadow: 5px 5px 10px #7D7474;
		width: 145px;
		height: 145px;
		border-radius: 145px;
	}
100% {box-shadow:5px 5px 100px #A79292;}
}

@-o-keyframes onhover /* Opera */
{
0% {box-shadow: 5px 5px 100px #A79292; }
50% {
		box-shadow: 5px 5px 10px #7D7474;
		width: 145px;
		height: 145px;
		border-radius: 145px;
	}
100% {box-shadow:5px 5px 100px #A79292;}
}

.first-name{
	text-align: center;
	font-size: 45px;
	color: #fff;
	position: relative;
	top: 60%;

}
.nav-list{
	width: 1025px;
	height: 150px;
	position: absolute;
	top:60%;
	left: 23%;
}
.nav-list > li{
	background: #fff ;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	text-align: center;
	line-height: 100px;
	margin: 0px 20px 0px 20px;
}
.nav-list > li:hover{
	background: #F3EFEF;
	cursor: pointer;
}
.nav-list >li:nth-child(1){
	position: relative;
	top:-150px;
}
.nav-list >li:nth-child(2){
	position: relative;
	top:-50px;
	left: -15px;
}
.nav-list >li:nth-child(4){
	position: relative;
	top:-50px;
	left: 15px;
}
.nav-list >li:nth-child(5){
	position: relative;
	top:-150px;
}
.second{
	background: #7BECA2;
}
.third{
	background: #EC8DD0;
}
.forth{
	background: #9EF9F4;
}
.fifty{
	background: #4FD97F;
}

.footer{
	position:absolute;
	bottom:0px;
}
/*毛玻璃模糊效果*/
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}