/*
文章页面
*/

a{
	text-decoration: none;
	color: #000;
}
.article-container{
	width: 100%;
	height: 100%;
	background: #C5F0A8;
	background-size: cover;
	padding-top:70px;
	padding-bottom: 20px;

}
.article{
	background:#fff;
　  color:#fff;
　  background-color:rgba(255,255,255,0.15);
	
	width: 70%;
	min-height: 560px;
	margin: auto;
	margin-top: 10px;
	display: block;
	box-shadow: 5px 5px 40px #C0C0C0;
}
.article  p{
	margin-bottom: 12px;
}

.article-title{
	overflow: hidden;
	text-align: center;
	padding: 40px 50px 10px 50px;
	display: block;
	font-size: 34px;
	color: #414141;
}
.article-detail{
	width: 90%;
	overflow: hidden;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: 16px;
	line-height: 35px;
}
.article-detail a{
		color: #6C6C64;
	text-decoration: underline;
}
.article-detail a:hover{
	color: #9BB2B2;

}


.article-attr{

	overflow: hidden;
	height:20px;
	margin-top: 5px;
	text-align: center;
	font-weight: 1000;
	color: #6C6868;
    padding-bottom: 20px;
}

.article-attr span:nth-child(2){
	margin-left: 30px;
}
.attr-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top:-2px;
	

}
#time{
	background: url(../IMG/time.png) no-repeat  ;
	background-size:contain;
}
#read{
	background: url(../IMG/read.png) no-repeat;
	background-size:contain;

}
.syntaxhighlighter {
	width: 98% !important;
	display: block !important;
	margin: auto !important;
	margin-top: 8px !important;

}
.gutter{
	
	color: #424242 !important;
}
.changyan{
	background-color: #fff;
}
/*畅言评论样式重写*/
#SOHUCS{
	width: 90%  !important;
}
@media screen and (max-width: 990px){
	.article{
	width: 90%;
}

}
 @media screen and (max-width: 685px){

.article-container{

	padding-top:0px;
	padding-bottom: 0px;

}
 	.article{
	background:#FFF;
	width: 100%;
	display: block;
	margin-top: 0px;
	padding-top: 70px;
	box-shadow: 0px 0px 0px #C0C0C0;
}
.article-title{
	overflow: hidden;
	text-align: center;
    padding: 20px 10px 10px 10px;
	display: block;
	font-size: 1.5em;
	color: #414141;
}
.article-attr span:nth-child(2){
	margin-left: 15px;
}
.attr-icon{

	background-size: 17px 17px !important;
	margin-right:0px;
		top:-1px;
}
.article-detail{
	
	font-size: 13px;


}
.article-detail img{
	width: 100%;
}

/*畅言评论样式重写*/
#SOHUCS{
	width: 100%  !important;
}
#SOHUCS .section-floatbar-wap{
	display: none;
}

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter, 
.syntaxhighlighter td, .syntaxhighlighter tr, .syntaxhighlighter tbody, .syntaxhighlighter thead,
 .syntaxhighlighter caption, .syntaxhighlighter textarea {
 	font-size: 13px !important;
 }
}
