/*
文章页面
*/

a{
	text-decoration: none;
	color: #000;
}
.article-container{
	width: 100%;
	height: 100%;
	background: #C5F0A8;
	background-size: cover;
	padding-top:20px;
	padding-bottom: 20px;

}
.article{
	background:#fff;
　  color:#fff;
　  background-color:rgba(255,255,255,0.15);
	
	width: 80%;
	min-height: 560px;
	margin: auto;
	margin-top: 10px;
	display: block;
	box-shadow: 5px 5px 40px #C0C0C0;
}

.article-title{
	overflow: hidden;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
	display: block;
	font-size: 24px;
	color: #414141;
}
.article-detail{
	width: 90%;
	overflow: hidden;
	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: 16px;
	line-height: 35px;
}
.article-attr{
	width: 1000px;
	height: 20px;
	display: inline-block;
	margin: auto;
	margin-top: 5px;
	text-align: center;
	font-weight: 1000;
}
.syntaxhighlighter {
	width: 98% !important;
	display: block !important;
	margin: auto !important;
	margin-top: 8px !important;
	background:#FAF9DE !important;

	border: 1px solid #C0C0C0 !important;
	box-shadow: 3px 3px 5px #C0C0C0;
	padding-bottom:10px !important;
}
.gutter{
	
	color: #424242 !important;
}



 @media screen and (max-width: 685px){

.article-container{

	padding-top:0px;
	padding-bottom: 0px;

}
 	.article{
	background:#FAF9DE;
	width: 100%;
	display: block;
	box-shadow: 0px 0px 0px #C0C0C0;
}
.article-title{
	overflow: hidden;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;

	display: block;
	font-size: 1.0em;
	color: #414141;
}
.article-detail{
	
	font-size: 1.0em;

}
 }
