/*
文章页面
*/

.article-container{
	width: 100%;
	height: 100%;
	background:#FFFDFD;
	background-size: cover;
	padding-top:70px;

}
.article{
	width: 80%;
	max-width: 900px;
	min-height: 560px;
	display: block;
	margin: 10px auto;
	font-size: 16px;
}

.article-title{
	overflow: hidden;
	text-align: center;
	padding: 15px 50px 10px 50px;
	display: block;
	font-size: 34px;
	color: #414141;

}
.article-detail{
	width: 95%;
	overflow: hidden;
	display: block;
	margin:10px auto 50px;

	line-height: 35px;
	padding:20px 50px 50px;
}

.article-attr{

	overflow: hidden;
	height:20px;
	margin-top: 5px;
	text-align: center;
	color: #6C6868;
    padding-bottom: 20px;
}

.article-attr span:nth-child(2){
	margin-left: 30px;
}
.attr-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
	position: relative;
	top:-2px;
	

}
#time{
	background: url(../IMG/time.png) no-repeat  ;
	background-size:contain;
}
#read{
	background: url(../IMG/read.png) no-repeat;
	background-size:contain;

}



/*畅言评论样式重写*/
#SOHUCS{
	width: 90%  !important;
	max-width: 900px;
}
@media screen and (max-width: 990px){
.article{
	width: 90%;
}
#SOHUCS .section-title-b ,#SOHUCS .section-cbox-b{
    background-color: #FFFDFD !important;
}

}
 @media screen and (max-width: 685px){

.article-container{

	padding-top:0px;
	padding-bottom: 0px;

}
 .article{
	background:#FFF;
	width: 100%;
	display: block;
	margin: 0px auto;
	padding-top: 70px;
	box-shadow: 0px 0px 0px #C0C0C0;
	font-size: 14px;
}
.article-title{
	overflow: hidden;
	text-align: center;
    padding: 0px 10px 10px 10px;
	display: block;
	font-size: 1.5em;
	color: #414141;
}
.article-attr{
	font-size: 13px;
}
.article-attr span:nth-child(2){
	margin-left: 15px;
}
.attr-icon{

	background-size: 17px 17px !important;
	margin-right:0px;
		top:-1px;
}
.article-detail{
	
	padding:5px;

}
.article-detail img{
	width: 100%;
}

/*畅言评论样式重写*/
#SOHUCS{
	width: 100%  !important;
}
#SOHUCS .section-floatbar-wap{
	display: none;
}


}
