/*
文章页面
*/

a{
	text-decoration: none;
	color: #000;
}
.article-container{
	width: 100%;
	height: 100%;
	background: url(../IMG/sitebg.png) no-repeat fixed;
	background-size: cover;
	padding-top:20px;
	padding-bottom: 20px;

}
.article{
	background:#fff;
　  color:#fff;
　  background-color:rgba(255,255,255,0.15);
	width: 1000px;
	min-height: 500px;
	margin: auto;
	margin-top: 10px;
	display: block;
	border-radius: 3px;
/*	filter:alpha(Opacity=90); 
	opacity: 0.9;*/
}

.article-title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 15px;
	display: block;
	font-size: 24px;
}
.article-detail{
	width: 900px;

	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: 20px;
	line-height: 35px;
}
.article-attr{
	width: 1000px;
	height: 20px;
	display: inline-block;
	margin: auto;
	margin-top: 5px;
	text-align: center;
	font-weight: 1000;
}