/*首页样式*/

a {
    text-decoration: none;
    color: #000;
}
.tab {
    height: 50px;
    background: #fabf7e;
    margin-bottom: 20px;
    display: block;
}
#last {
    float: left;
}
#hot {
    float: right;
}
.off {
    background: #CDE2F8;
    box-shadow: 0px 0px 2px #737171;
    z-index: 5;
}
.on {
    background: #F3F3F3;
    z-index: 0;
    box-shadow: 0px 0px 1px #737171;
}
.tab-box {
    display: inline-block;
    height: 50px;
    width: 50%;
    text-align: center;
    line-height: 50px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
}

.ban {
    height: 300px;
    background: #C7C7F3;
    padding-top: 50px;
}
.ban-con {
    width: 928px;
    height: 250px;
    margin: auto;
}
.ban-con a:hover{
  color: #fff;
}
.ban-hr {
    display: none;
}
.ban-pic {
    width: 345px;
    height: 200px;
    background: url('../IMG/ban-pic.png') no-repeat;
    background-size: 345px 170px;
    float: left;
    margin-top: 70px;
    position: relative;
    left: -600px;
          opacity: 0;
}
.ban-slogan {
    width: 560px;
    float: right;
    margin-top: 90px;
    display: none;
}
.ban-slogan h2 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #000;
}
.ban-slogan p {
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}
.content {
    z-index: 20;
    background: #f0f0f0;
    position: relative;
    min-height: 378px;
}

.hotlist {
    display: none;
}
.alist {
    background: #fff;
    max-width: 990px;
    width: 85%;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    display: block;
    box-shadow: 1px 0px 1px #EAD4D4;
}
.alist:hover {
    color: #7B7272;
}
.alist-icon img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px 0px 0px 10px;
    border-radius: 40px;
    z-index: 2;
    border: 0px;
}
.alist-con {
    width: 89%;
    height: 100%;
    float: left;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 8px;
    color: #000;
}
.alist h3:hover{
	color: #887878;
}
.alist a:hover{
	color: #887878;
}
.alist-title {
    display: block;
    height: 20px;
    margin-top: 5px;
    overflow: hidden;
}

.alist-title a {
    display: inline-block;
    width: 100%;
}

.alist-title h3 {
    font-weight: 500;
    font-size: 16px;
    color: #3F3F3F;
    display: inline;
    overflow: hidden;
}
.alist-title span {
    display: inline;
}
.alist-digest {
    display: block;
    height: 60px;
    margin: 5px auto 0px;
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    overflow: hidden;
}

 .rss {
  height:50px;
}
.rss >.alist-icon img{
     width: 40px;
    height: 40px;
    float: left;
    margin: 5px 10px 5px;
    border-radius: 65px;
    z-index: 2;
    background-size: 40px 40px !important;
}
#rss-time{
  float: right;
}
.lastShow {
    display: block;
}
.hotShow {
    display: none;
}
.next-show {
    cursor: pointer;
    width: 100%;
    height: 100px;
    background: #f0f0f0;
    text-align: center;
    line-height: 115px;
    color: #BBAEAE;

}
.next-show:hover{
    box-shadow: inset 0px -10px 10px -5px #BE9F9F;
    color: #A29696;
}
.more-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-radius: 2px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
   -webkit-transform:rotate(45deg);

}
.onload{

         border-radius: 50%; 
        animation: load 0.3s infinite linear;
        -webkit-animation: load 0.3s infinite linear;
        -o-animation: load 0.3s infinite linear;
        -moz-animation: load 0.3s infinite linear;
}

@keyframes load{
    form{
           transform:rotate(45deg);
          -ms-transform:rotate(45deg);
          -o-transform:rotate(45deg);
          -webkit-transform:rotate(45deg);
    }
    to{
           
           transform:rotate(360deg);
          -ms-transform:rotate(360deg);
          -o-transform:rotate(360deg);
          -webkit-transform:rotate(360deg);
    }
}




@media screen and (max-width: 1080px) {
    .ban {
        height: 250px;
   }
   .ban-con {
       width: 690px;
       74 height: 200px;
       margin: auto;
  }
  .ban-pic {
      width: 280px;
      height: 140px;
      background: url('../IMG/ban-pic.png') no-repeat;
      background-size: 280px 140px;
      float: left;
      margin-top: 60px;
      position: relative;
      left: -600px;
 }
 .ban-slogan {
     width: 400px;
     float: right;
     margin-top: 70px;
     display: none;
}
.ban-slogan h2 {
    font-size: 24px;
    padding-bottom: 10px;
    color: #000;
}
.ban-slogan p {
    font-size: 15px;
    line-height: 40px;
}
.alist {
    width: 95%;
}
.alist-con {
    width: 85%;
}
}
@media screen and (max-width: 685px) {
    .ban {
        height: 180px;
   }
   .ban-con {
       width: 300px;
       height: 180px;
       margin: auto;
  }
  .ban-pic {
      width: 230px;
      height: 110px;
      background: url('../IMG/ban-pic.png') no-repeat;
      background-size: 230px 110px;
      margin-top: 20px;
      position: relative;
      left: -300px;
      margin-left: 35px;

 }
 .ban-slogan {
     width: 300px;
     float: right;
     margin-top: 10px;
     display: none;
}
.ban-slogan h2 {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color: #000;
}
.ban-slogan p {
    display: none;
}
.tab {
    height: 40px;
    background: #fabf7e;
    margin-bottom: 10px;
    display: block;
}
.tab-box {
    display: inline-block;
    height: 40px;
    width: 50%;
    text-align: center;
    line-height: 40px;
	position: relative;
    font-size: 16px;
    font-weight: 300;
}

.alist {
    border: 0px;
    height: 50px;
    background: #fff;
    width: 96%;
    margin: auto;
    margin-top: 5px;
    display: block;

}
.alist-icon img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 3px 5px;
    border-radius: 65px;
    z-index: 2;
    background-size: 40px 40px !important;
}
.alist-con {
    height: 50px;
    margin-left: 0px;
    float: left;
    border: 0px;
    z-index: 0;
    position: absolute;
    padding:0px;
    left: 50px;
}
.alist-title {
    height: 100%;
    line-height: 50px;
    margin-top: 0px;
    overflow: hidden;

}
.alist-title h3 {
    display: block;
    padding: 0px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    height: 100%;
    font-weight: 500 !important;
    font-size: 14px;
}
.alist-digest {
    display: none;
}
.alist-title span {
    display: none;
}
.next-show {
    line-height: 55px;
    font-size: 13px;
    height: 50px;
}

.more-icon{
    width: 20px;
    height: 20px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

}