.ban{height:300px;background:#fabf7e;}
.ban-con
{
	
	width:980px;
	height: 250px;
	margin: auto;


}
.ban-hr
{display: none;}
.ban-pic{
		   width: 400px;
		   height: 200px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 400px 200px;  
           float:left;
           margin-top: 50px;
           position: relative;
           left:-600px;
             }
.ban-slogan{
	width: 560px;
	float: right;
	 margin-top: 85px;
	 display: none;
}     
.ban-slogan h2{
	font-size: 26px;
	padding-bottom: 10px;
	color: #000;
}   
.ban-slogan p{font-size: 20px;line-height: 40px;}   

/*首页内容样式*/
.content
{

	background: #F3F3F3;
	padding-top: 20px;

}
.con-4
{
	width: 85%;
	height: 600px;
	margin: auto;
}
.con-3
{
	display: none;
}
.con-2
{
	display: none;
}
.con-1
{
	display: none;
}
.sec-box
{

	height: 155px;
	padding-top: 10px;
}
/*.box-2
{
	border: 1px solid;
	height: 200px;
}*/
.list-block
{
	border: 1px solid #E9E9E9;
	background:#fff;
	display: block;
	float: left;
	width: 23.9%;
	height: 150px;
	margin-left:0.7%;
	overflow: hidden;
}
.block-type
{
	font-size: 18px;
	text-align: center;
	border-bottom:2px solid #CF8BFC;
	display: inline-block;
	line-height: 30px;
	width: 100%;

}
.block-title
{

	margin:10px;
	font-size: 20px;
	font-weight: bold;
	max-height: 110px;
	overflow: hidden;
}



/*首页内容样式 max-width: 1180px*/
@media screen and (max-width: 1180px){
.content
{

}
.con-4
{
	display: none;
}
.con-3
{
	width: 100%;
	height: 600px;
	margin: auto;
	display: block;
}
.con-2
{
	display: none;
}
.con-1
{
	display: none;
}
.list-block
{
	border: 1px solid #E9E9E9;
	background:#fff;
	display: block;
	float: left;
	width: 30.9%;
	height: 150px;
	margin-left:2%;
	overflow: hidden;
}

 }	


 @media screen and (max-width: 990px){

.ban{height:250px;background:#fabf7e;}
.ban-con
{
	width:690px;
	height: 200px;
	margin: auto;
}


.ban-pic{
		   width: 280px;
		   height: 140px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 280px 140px;  
           float:left;
           margin-top: 60px;
           position: relative;
           left:-600px;
             }

.ban-slogan{
	width:400px;
	float:right;
	 margin-top:70px;
	 display: none;
}     
.ban-slogan h2{
	font-size: 24px;
	padding-bottom: 10px;
	color: #000;
}   
.ban-slogan p
{
	font-size: 14px;
	line-height: 40px;
}  


.con-4
{
	display: none;
}
.con-3
{
	display: none;
}
.con-2
{
	width: 100%;
	height: 600px;
	margin: auto;
    display: block;
}
.con-1
{
	display: none;
}

.list-block
{
	border: 1px solid #E9E9E9;
	background:#fff;
	display: block;
	float: left;
	width: 46%;
	height: 150px;
	margin-left:2%;
	overflow: hidden;
} 

}







 @media screen and (max-width: 685px){

.ban{height:180px;background:#fabf7e;}
.ban-con
{
	width:300px;
	height: 180px;
	margin: auto;

}


.ban-pic{

		   width: 230px;
		   height: 110px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 230px 110px;  
           margin-top: 20px;
           position: relative;
           left:-300px;
           display: block;
           margin-left: 35px;
             }

.ban-slogan{

	width:300px;
	float:right;
	 margin-top:10px;
	 display: none;
}     
.ban-slogan h2{
	text-align: center;
	font-size: 16px;
	padding-bottom: 10px;
	color: #000;
}   

.ban-slogan p
{
	display: none;

}


.con-4
{
	display: none;
}
.con-3
{
	display: none;
}
.con-2
{
	display: none;
}
.con-1
{
	width: 100%;
	height: 500px;
	margin: auto;
    display: block;
}

.list-block
{
	border: 1px solid #E9E9E9;
	background:#fff;
	display: block;
	float: left;
	width: 95%;
	height: 100px;
	margin-top: 5px;
	margin-left:2%;
	overflow: hidden;
} 
.block-type
{
	font-size: 14px;
}
.block-title
{

	margin:10px;
	font-size: 16px;
	font-weight: bold;
	max-height: 100px;
	overflow: hidden;
}
.sec-box
{

	height:100px;
	
}
 }