/*首页样式*/
a{
	text-decoration: none;
	color: #000;
}

.tab{

	height: 50px;
	background: #fabf7e;
	margin-bottom: 20px;
	display: block;
}
#last{
	float: left;	
}
#hot{	
	float: right;	
	color: red;
}
.on{
	background: #CDE2F8;
	box-shadow:  0px 0px 2px  #737171;
	z-index: 5;


}
.off{
	background: #F3F3F3;
	z-index: 0;
	box-shadow:  0px 0px 1px #737171;
}

.tab-box{
	display: inline-block;
	height: 50px;
	width: 50%;
	text-align: center;
	line-height: 50px;
/*	border-top-right-radius:5px;
	border-top-left-radius:5px;*/
	position: relative;
	font-size: 20px;
	font-weight: 300;
}


.hotlist{

	display: none;
}

.alist{
	border: 1px solid #00EAEA;
	background: #fff;
	max-width: 990px;
	width:85%;
	height: 130px;
/*	border-radius: 3px;*/
	box-shadow: 5px 5px 20px #C0C0C0;
	margin: auto;
	margin-top: 10px;
	display: block;
}
.alist-icon{
	width: 10%;
	height: 80%;
	float: left;
	margin: 15px ;
	margin-left: 25px;
	border-radius: 65px;

	z-index: 2;
	background-size:100px 103px !important;
}
.alist-con{

	width: 85%;
	height: 100%;
	float: right;
	box-sizing:border-box;
	padding: 5px;
	z-index: 0;
/*	box-shadow: 5px 5px 5px #C0C0C0;*/

}

.alist-title{

	margin-top: 5px;

}

.alist-title span{

	
	display: inline-block;

}
.alist-title h3{

	color: #3F3F3F;
	display: inline-block;
}
.alist-digest{

	height: 85px;

	display: block;
	margin: auto;
	margin-top: 5px;
	font-size: 14px;
	line-height: 28px;
	overflow: hidden;
}

.lastShow{
	cursor: pointer;

	display: block;
	width: 300px;
	margin: auto;
	height: 150px;

	background:url(../IMG/more.png) no-repeat;
	background-size: 300px 100px ;
	background-position: 0px 50px;
    animation:myfirst 3s infinite;
     -moz-animation:myfirst 3s infinite; 
     -webkit-animation:myfirst 3s infinite; 
     -o-animation:myfirst 3s infinite;
}
.hotShow{
	cursor: pointer;

	display: none;
	width: 300px;
	margin: auto;
	height: 150px;

	background:url(../IMG/more.png) no-repeat;
	background-size: 300px 100px ;
	background-position: 0px 50px;
    animation:myfirst 3s infinite;
     -moz-animation:myfirst 3s infinite; 
     -webkit-animation:myfirst 3s infinite; 
     -o-animation:myfirst 3s infinite;
}

.lastShow:hover{
		filter:alpha(opacity=70);  /*支持 IE 浏览器*/
		-moz-opacity:0.70; /*支持 FireFox 浏览器*/
		opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
.hotShow:hover{
		filter:alpha(opacity=70);  /*支持 IE 浏览器*/
		-moz-opacity:0.70; /*支持 FireFox 浏览器*/
		opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/
}
.showload{
	display: none;
	background:url(../IMG/load.gif) no-repeat;
	background-size: 100px 100px ;
	background-position: 0px 50px;

	width: 100px;
	margin: auto;
	height: 150px;
}



@keyframes myfirst
{
0% {background-position: 0px 30px; }
50% {background-position: 0px 50px;}
100% {background-position: 0px 30px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0% {background-position: 0px 30px; }
50% {background-position: 0px 50px;}
100% {background-position: 0px 30px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {background-position: 0px 30px; }
50% {background-position: 0px 50px;}
100% {background-position: 0px 30px;}
}

@-o-keyframes myfirst /* Opera */
{
0% {background-position: 0px 30px; }
50% {background-position: 0px 50px;}
100% {background-position: 0px 30px;}
}



.ban{height:300px;background:#C7C7F3;}
.ban-con
{
	
	width:980px;
	height: 250px;
	margin: auto;


}
.ban-hr
{display: none;}
.ban-pic{
		   width: 400px;
		   height: 200px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 400px 200px;  
           float:left;
           margin-top: 50px;
           position: relative;
           left:-600px;
             }
.ban-slogan{
	width: 560px;
	float: right;
	 margin-top: 85px;
	 display: none;
}     
.ban-slogan h2{
	font-size: 26px;
	padding-bottom: 10px;
	color: #000;
}   
.ban-slogan p{font-size: 20px;line-height: 40px;}   

.content
{
	z-index: 20;
	background: #CDE2F8;/*#F3F3F3;*/
	position: relative;
	padding-bottom: 40px;


}


/*首页内容样式 max-width: 1180px*/
@media screen and (max-width: 1180px){

.alist{
	width:95%;
}
.alist-digest {


	font-size: 16px !important;

}

 }	


 @media screen and (max-width: 990px){

.ban{height:250px;}
.ban-con
{
	width:690px;
	height: 200px;
	margin: auto;
}


.ban-pic{
		   width: 280px;
		   height: 140px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 280px 140px;  
           float:left;
           margin-top: 60px;
           position: relative;
           left:-600px;
             }

.ban-slogan{
	width:400px;
	float:right;
	 margin-top:70px;
	 display: none;
}     
.ban-slogan h2{
	font-size: 24px;
	padding-bottom: 10px;
	color: #000;
}   
.ban-slogan p
{
	font-size: 14px;
	line-height: 40px;
}  

.alist{
	border: 1px solid #00EAEA;
	background: #fff;
	width:95%;
	height: 100px;
/*	border-radius: 3px;*/
	box-shadow: 5px 5px 20px #C0C0C0;
	margin: auto;
	margin-top: 10px;
	display: block;
}
.alist-icon{
	width: 80px;
	height: 80px;
	float: left;
	margin:10px 0px 0px 5px; 

	border-radius: 40px;
	z-index: 2;
	background-size:80px 80px !important;
}
.alist-con{

	width: 85%;
	height: 100%;
	float: left;
	margin-left: 1%;
	overflow: hidden;
	box-sizing:border-box;
	padding: 5px;
	z-index: 0;
/*	box-shadow: 5px 5px 5px #C0C0C0;*/

}

.alist-title{

	margin-top: 5px;

}

.alist-title span{

	
	display: inline-block;

}
.alist-title h3{

	color: #3F3F3F;
	display: inline-block;
}
.alist-digest{

	height: 85px;

	display: block;
	margin: auto;
	margin-top: 5px;
	font-size: 14px;
	line-height: 28px;
	overflow: hidden;
}





}







 @media screen and (max-width: 685px){

.ban{
	height:180px;
}
.ban-con{
	width:300px;
	height: 180px;
	margin: auto;

}


.ban-pic{

		   width: 230px;
		   height: 110px;
	       background:url('../IMG/ban-pic.png') no-repeat;
           background-size: 230px 110px;  
           margin-top: 20px;
           position: relative;
           left:-300px;
           display: block;
           margin-left: 35px;
             }

.ban-slogan{

	width:300px;
	float:right;
	 margin-top:10px;
	 display: none;
}     
.ban-slogan h2{
	text-align: center;
	font-size: 16px;
	padding-bottom: 10px;
	color: #000;
}   

.ban-slogan p
{
	display: none;

}

.tab{

	height: 40px;
	background: #fabf7e;
	margin-bottom: 10px;
	display: block;
}
.tab-box{
	display: inline-block;
	height: 40px;
	width: 50%;
	text-align: center;
	line-height: 40px;
/*	border-top-right-radius:5px;
	border-top-left-radius:5px;*/
	position: relative;
	font-size: 20px;
	font-weight: 300;
}

.content
{
	z-index: 20;
	background: #CDE2F8;/*#F3F3F3;*/
	position: relative;
	padding-bottom: 20px;


}
.alist{
	border: 0px;
	height: 50px;
	background: #fff;
	width:96%;
	box-shadow: 5px 5px 20px #C0C0C0;
	margin: auto;
	margin-top: 5px;

	display: block;
	
}
.alist-icon{
	width: 40px;
	height:40px;
	float: left;
	margin: 3px ;

	border-radius: 65px;
	z-index: 2;

	background-size:40px 40px !important;
}

.alist-con{

	width: 85%;
	height: 100%;
	margin-left: 0px;
	float: left;
	border: 0px;
	z-index: 0;



}
.alist-title{


	height: 40px;
	line-height: 40px;
	margin-top: 0px;
	overflow: hidden;

}
.alist-title h3{
font-weight: 500 !important;
font-size: 14px;

}

.alist-digest{
	display: none;
}
.alist-title span{

	
	display: none;

}

.lastShow{
	cursor: pointer;

	display: block;
	width: 100px;
	margin: auto;
	height: 75px;

	background:url(../IMG/more.png) no-repeat;
	background-size: 100px 50px ;
	background-position: 0px 10px;
    animation:myfirst 3s infinite;
     -moz-animation:myfirst 3s infinite; 
     -webkit-animation:myfirst 3s infinite; 
     -o-animation:myfirst 3s infinite;
}
.hotShow{
	cursor: pointer;

	display: none;
	width: 100px;
	margin: auto;
	height: 75px;

	background:url(../IMG/more.png) no-repeat;
	background-size: 100px 50px ;
	background-position: 0px 10px;
    animation:myfirst 3s infinite;
     -moz-animation:myfirst 3s infinite; 
     -webkit-animation:myfirst 3s infinite; 
     -o-animation:myfirst 3s infinite;
}
.showload{
	display: none;
	background:url(../IMG/load.gif) no-repeat;
	background-size: 45px 45px ;
	background-position: 0px 20px;

	width: 45px;
	margin: auto;
	height: 70px;
}


@keyframes myfirst
{
0% {background-position: 0px 10px; }
50% {background-position: 0px 30px;}
100% {background-position: 0px 10px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0% {background-position: 0px 10px; }
50% {background-position: 0px 30px;}
100% {background-position: 0px 10px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0% {background-position: 0px 10px; }
50% {background-position: 0px 30px;}
100% {background-position: 0px 10px;}
}

@-o-keyframes myfirst /* Opera */
{
0% {background-position: 0px 10px; }
50% {background-position: 0px 30px;}
100% {background-position: 0px 10px;}
}
 }


