
*{padding:0;margin: 0;font-family:'微软雅黑'}

header{
	background: #000;
	height:60px;
	width: 100%;
	position: fixed;
	z-index: 10000;
}
.nav {
	height: 70px;
     margin-top: 18px;
     margin-right: 8px;
     float: right;

}
.title
{
	margin-left: 12px;
	width:210px;
	display: inline-block;
	text-align: left;
	margin-top: 5px;
}
.logo {
	width:45px;
	height:45px;
	display:inline-block; 
	background:url(../IMG/logo.png ) no-repeat;
	background-size: 45px 45px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-top: 2px;

}
.name{
	width:160px;
	height:50px;
	display:inline-block; 
	margin-top: 2px;
	 background:url(../IMG/name.png ) no-repeat;
	 float:left;
	 background-size: 150px 45px;
	}


.nav ul {
	margin: 0;
	padding: 0;
	
}
.nav li {
	
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;


}
.nav a {

	padding: 3px 12px;
	text-decoration: none;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	line-height: 100%;
}
.nav a:hover { 
    color: #d0d0d0; 
}
.nav .current a {
	background:#fabf7e;
	color: #fff;
	border-radius: 5px;
}
.search-input{
	width:150px;
	height: 18px;
	font-size:14px;
	line-height: 24px;
	border-radius: 5px;
	outline: none;
	color: #C1AAAA;
	border: 0px;
	padding: 5px;
}
.nav-btn{display: none;}







/*页脚样式*/

.footer
{
	font-size: 14px;
	text-align: center;
	background: #000;
	color: #DADADA;
	width: 100%;
	
	

}
.footer a,span {
	font-family:Arial,Helvetica,"Microsoft YaHei","Lato",
	"Helvetica Neue" !important;
}
.footer-con{
	width: 70%;

	height: 122px;
	margin: auto;
}
.footer-left{
	height:118px;
	display: inline-block;
	width: 50%;
	float: left;
	text-align: right;
}
#line{
	width: 0px;
	height: 80px;
	border-right: 1px solid #B3B3B3;
	float: right;
	margin-left: 35px;
	margin-top: 25px;
}
.copy-icon{
	background: url(../IMG/copy.png) no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: 15px 15px ;
	position: relative;
	top:2.5px;

}

.useread{

	display: block;
	height: 30px;
	margin-top: 37px;
}
.thinkphp_logo{

	margin-right: 3px;
	position: relative;
	top: 1px;
}
.jingan_logo{
	margin-right: 3px;
	position: relative;
	top: 4px;
}
.copyright{
	display: inline-block;
	text-align: right;
	height: 24px;
	margin-top: 5px;
	position: relative;
  	left: 3px;
}
.footer a
{
	text-decoration:none;
	color: #fff;
}

.me{


	height: 118px;
	width: 46%;
	display:inline-block;


}

.myicon{
	display: inline-block;

	float: left;
	margin-left: 20px;
	margin-top: 35px;
}
.myicon > img{
	border: 0px;
} 
.mymoto{

	height: 30px;
	width: 70%;
	background: url(../IMG/motto.png) no-repeat;
	background-size: 250px 30px;
	display: block;
	float: left;
	position: relative;
	top:50px;
	left: 10px;


}
.me,.useread,.copy-icon,.copyright a{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.me:hover,.useread:hover,.copyright a:hover{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

@media screen and (max-width:1190px) {

	.btn{display: none;}


	.footer-con{
	width:80% !important;


}
 .footer-left{
	width: 50% !important;
}



}

@media screen and (max-width: 990px) {
.search-input{display: none;}
.title
{
	margin-left: 9px;
}
.name{
	width:160px;
	height:50px;
	display:inline-block; 
	margin-top:5px;
	 background:url(../IMG/name.png ) no-repeat;
	 float:left;
	 background-size:120px 40px;
	}

.logo{
		width: 40px;
		margin-top: 5px;
		display: inline-block;
		background-size: 40px 40px;
}
.nav{
	display:none;
	width: 100%!important;
	background: rgba(0, 0, 0, 0.9);
	height:100%;
	margin:0;
	z-index: 1000;
	position: fixed;
	top:60px;

     }
.nav ul{
	display: block;
	position:relative;
	top:50%;
	transform:translate(0,-70%);
	-ms-transform:translate(0,-70%);
	-webkit-transform:translate(0,-70%);

}
.nav li{
	display: block;
	margin: auto;
	padding: 10px;
	list-style: none;

}
.nav li a{
	text-align:center;
	width: 80px;
	margin: auto;
display: block;
font-size: 18px;
}

/*导航按钮*/
.nav-btn{
	display: block;
	float: right;
	margin: 9px 12px;
}
.btn{
		display: block;
		color: #fff;
		padding: 0px;
		position: relative;
		cursor: pointer;
}
.btn li{
		display:block;
		width: 32px;
		border: 1px solid #fff;
		margin-top: 9px;
	}
	.onbtn li:nth-child(1) {

		-webkit-transform: rotate(45deg);
		-moz-transform:  rotate(45deg);
		-moz-transform:  rotate(45deg);
		 transform: rotate(45deg);
		 transition: transform 0.2s;
		 position: relative;
		 top:11px;
	}
	.onbtn li:nth-child(2) {
		-webkit-transform: rotate(-45deg);
		-moz-transform:  rotate(-45deg);
		-moz-transform:  rotate(-45deg);
		transform: rotate(-45deg);
		transition: transform 0.2s;
	}
	.onbtn li:nth-child(3) {
			display: none;
	}


	.footer-con{
	height: 60px !important;
	vertical-align: center;

}
.footer a,span {
	font-size: 13px;
}
.footer-left{

	width: 100%!important;
	height:20px  !important;
	display: block!important;
	text-align: center ;
}
.copyright{

	overflow: hidden !important;;
	float: none !important;
	margin-top:25px !important;
	height:18px !important;
	color: #EDDFDF!important;
}

.useread{
	display: none!important;


}

#line{display: none!important;}
.me{
	display: none !important;

}
.myicon{

	display: none !important;


}
.myicon img{
		width: 40px; 
		height: 40px;
}
.mymoto{
	display: none !important;
}
.me,.useread,.copyright{
	filter:alpha(opacity=100)!important;
	-moz-opacity:1!important;
	-khtml-opacity: !important;
	opacity:1!important;
}
}
