
*{
	margin: 0;
	font-family:"Microsoft YaHei","Lato","Helvetica Neue",Arial,Helvetica !important;
}

header{
	background: #000;
	height:60px;
	width: 100%;
	position: fixed;
	z-index: 10000;
}
.nav {
    height: 100%;
    margin-right: 8px;
    float: right;
    line-height: 60px;
}
.title
{
	margin-left: 12px;
	width:210px;
	display: inline-block;
	text-align: left;
	margin-top: 5px;
}
.logo {
	width:40px;
	height:40px;
	display:inline-block; 
	background:url(../IMG/logo.png ) no-repeat;
	background-size: 40px 40px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-top: 5px;

}

.name{
	width:125px;
	height:40px;
	display:inline-block; 
	margin-top: 6px;
	 background:url(../IMG/name.png ) no-repeat;
	 float:left;
	 background-size:125px 40px;
	}

.nav ul {
	margin: 0;
	padding: 0;
	
}
.nav li {
	
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;


}
.nav a {

	padding: 3px 12px;
	text-decoration: none;
	font-weight: 300;
	font-size: 20px;
	color: #fff;
	line-height: 100%;
}
.nav a:hover { 
    color: #d0d0d0; 
}
.nav .current a {
	background:#fabf7e;
	color: #fff;
	border-radius: 5px;
}

.nav-btn{display: none;}


/*页脚样式*/

.footer
{
	font-size: 13px;
	text-align: center;
	background: #000;
	color: #DADADA;
	height: 60px;
	width: 100%;
	line-height: 60px;
}




.footer a,.footer span
{
	text-decoration:none;
	color: #C1B0B0;
}
.footer a:hover
{
	color: #fff;
}


@media screen and (max-width: 990px) {

.nav{
	display:none;
	width: 100%!important;
	background: rgba(0, 0, 0, 0.9);
	height:100%;
	margin:0;
	z-index: 1000;
	position: fixed;
	top:60px;

     }
.nav ul{
	display: block;
	position:relative;
	top:50%;
	transform:translate(0,-60%);
	-ms-transform:translate(0,-60%);
	-webkit-transform:translate(0,-60%);

}
.nav li{
	display: block;
	margin: auto;
	padding: 10px;
	list-style: none;

}
.nav li a{
	text-align:center;
	margin: auto;
display: block;
font-size: 18px;
}

/*导航按钮*/
.nav-btn{
	display: block;
	float: right;
	margin: 9px 12px;
}
.btn{
		display: block;
		color: #fff;
		padding: 0px;
		position: relative;
		cursor: pointer;
}
.btn li{
		display:block;
		width: 32px;
		border: 1px solid #fff;
		margin-top: 9px;
	}
	.onbtn li:nth-child(1) {

		-webkit-transform: rotate(45deg);
		-moz-transform:  rotate(45deg);
		-moz-transform:  rotate(45deg);
		 transform: rotate(45deg);
		 transition: transform 0.2s;
		 position: relative;
		 top:11px;
	}
	.onbtn li:nth-child(2) {
		-webkit-transform: rotate(-45deg);
		-moz-transform:  rotate(-45deg);
		-moz-transform:  rotate(-45deg);
		transform: rotate(-45deg);
		transition: transform 0.2s;
	}
	.onbtn li:nth-child(3) {
			display: none;
	}

}
