/*
主题页面
*/

a{
	text-decoration: none;
	color: #000;
}
.topic-container{
	width: 100%;
	min-height: 560px;
	background:#CDE2F8 ;

	background-size: cover;
	padding-top:70px;
	padding-bottom: 20px;

}

.alist{
	background:#fff;
　  color:#fff;
	max-width: 1000px;
	height: 160px;
	margin: auto;
	margin-top: 20px;
	display: block;
	box-shadow: 5px 5px 20px #C0C0C0;
	overflow: hidden;

}
.alist-title {
	margin-top: 10px;
	height: 40px;
	overflow: hidden;

}
.time{
	line-height: 40px;
	margin-left: 15px;
}
.alist-title h3{
	color: #494949;
	line-height: 40px;
	display: inline-block;

}
.alist-digest{
	width: 970px;
	height: 100px;
	display: block;
	margin: auto;
	margin-top: 5px;
	font-size: 16px;
	line-height: 30px;
	color: #616161;
}
.alist-digest:hover{
	text-decoration: underline;
}



/*首页内容样式 max-width: 1180px*/
@media screen and (max-width: 1180px){
	.alist{
     height: 130px;
	width: 90%;
}
.alist-digest{
	width:95%;
	overflow: hidden;
	height: 80px;
	font-size: 14px;
	line-height: 25px;

}
.alist-title {
	margin-top: 10px;
	height: 30px;
	overflow: hidden;
	font-size: 16px;
	line-height: 30px;
	color: #000;
	width: 90%;
	display: inline-block;


}
.alist-title h3{
	font-weight: 500 !important;
	display: inline;
}
.time{
	line-height: 30px;
	margin-left: 3%;
}
}


 @media screen and (max-width: 685px){

	.alist{
    height: 130px;
	width: 95%;
	margin-top: 10px;
}
.alist-digest{
	width:95%;
	overflow: hidden;
	height: 80px;
	font-size: 12px;
	line-height: 25px;

}
.alist-title {
	margin-top: 5px;
	height: 30px;
	overflow: hidden;
	font-size: 12px;
	line-height: 30px;
	color: #000;
	width: 90%;
	display: inline-block;


}
.alist-title h3{
	font-weight: 500 !important;
	display: inline;
}
.time{
	line-height: 30px;
	margin-left: 2%;
}

 }



 /*分页样式*/

.paging>div{
	display: block;

	width: 300px;
	margin:30px auto;
}
.paging a{
	background: #fff;
}
.current{
	  border: 1px solid #00DDDD;
	  display: inline-block;
	  text-align: center;
	  height: 35px;
	  width: 40px;
	  line-height: 35px;
	  margin-right: 5px;
	  background: #D0D0D0;
}
.prev,.next{
	border: 1px solid #00DDDD;
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	 height: 35px;
	  width: 40px;
	   line-height: 35px;
	   text-align: center;
	color: #000;

}
.prev:hover{
	background: #00F4F4;
}
.next:hover{
	background: #00F4F4;
}
.num{
	  border: 1px solid #00DDDD;
	  text-decoration: none;
	  color: #000;
	  display: inline-block;
	  line-height: 35px;
	  text-align: center;
	  height: 35px;
	  width:40px;
	  margin-right: 5px;
}
.num:hover{
	background: #00F4F4;
}
